<div class="desc-list">
  <div class="income">
    <h2>INCOME</h2>
    <app-desc-item
      class="app-desc-item"
      *ngFor="let item of incomeItem; let i = index"
      [i]="i"
      [item]="item"
      [msg]="'inc'"
      (deleteItem)="deleteItem($event)"
    >
    </app-desc-item>
  </div>
  <div class="exp">
    <h2>EXPENSES</h2>
    <app-desc-item
      class="app-desc-item"
      *ngFor="let item of expenseItem; let i = index"
      [i]="i"
      [item]="item"
      [msg]="'exp'"
      (deleteItem)="deleteItem($event)"
    >
    </app-desc-item>
  </div>
</div>
