<div class="ui-modal" (click)="toggleModal($event)" id="ui-modal">
  <div class="edit">
    <h2>Edit</h2>
    <form (ngSubmit)="onSubmit()">
      <input
        type="number"
        name="amount"
        placeholder="Amount"
        value="modalItem.amount"
        [(ngModel)]="editAmount"
      />
      <input
        type="text"
        name="desc"
        [(ngModel)]="editDesc"
        placeholder="Description"
      />
      <input type="submit" value="Save" />
    </form>
  </div>
</div>
