.main-banner {
  height: 10rem;
  background-color: rgb(38, 124, 182);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner span {
  font-size: 3rem;
}

.red {
  color: rgba(202, 7, 17, 0.938);
}

.green {
  color: rgba(52, 202, 22, 0.863);
}
